<app-menu></app-menu>
<div class="container-fluid">
  <h2 class="text-center">All Sector News</h2>
  <div class="row">
    <div class="col-12 justify-content-center">
      <table class="table table-strip table-bordered">
        <tr>
          <th>Date</th>
          <th>Newspaper Name</th>
          <th>News</th>
          <th></th>
        </tr>
        <tr>
          <td>
            <h6>12-12-2019</h6>
          </td>
          <td>
              <h6>جريدة الاهزام</h6>
          </td>
          <td>
              <h6>جريدة الاهزام بتمسي علي الشركة </h6>
          </td>
          <td>
              <h6><fa name="trash"></fa></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>