<div class="container">
  <div class="row justify-content-center">
    <div class="col-4 login-form">
      <h2>Do you have access?</h2>
      <input type="text" name="usernameTxt" id="usernameTxt" class="form-control" placeholder="User Name..."/>
      <br/>
      <input type="password" name="passwordTxt" id="passwordTxt" class="form-control" placeholder="Password..."/>
      <br/>
      <a class="btn btn-primary btn-block" routerLink="/home" routerLinkActive="active">Sign in</a>
    </div>
  </div>
</div><!-- /container -->