<app-menu></app-menu>
<div class="container-fluid">
  <h2 class="text-center">All Newsletters</h2>
  <div class="row">
    <div class="col-12 justify-content-center">
      <table class="table table-strip table-bordered">
        <tr>
          <th>Name</th>
          <th>Cover</th>
          <th></th>
        </tr>
        <tr *ngFor="let index of newsletters">
          <td>
            <h6>{{index.name}}</h6>
          </td>
          <td>
            <img src="{{index.coverurl}}" alt="">
          </td>
          <td>
            <h6>
              <fa name="trash"></fa>
            </h6>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>