<app-menu></app-menu>
<div class="container-fluid">
  <h2 class="text-center">All Training Courses</h2>
  <div class="row">
    <div class="col-12 justify-content-center">
      <table class="table table-strip table-bordered">
        <tr>
          <th>From</th>
          <th>To</th>
          <th>Course Name</th>
          <th>Course Place</th>
          <th>Type</th>
          <th></th>
        </tr>
        <tr>
          <td>
              <h6>12-12-2019</h6>
          </td>
          <td>
              <h6>22-12-2019</h6>
          </td>
          <td>
              <h6>How to be creative</h6>
          </td>
          <td>
              <h6>Cairo Staduim</h6>
          </td>
          <td>
              <h6>External</h6>
          </td>
          <td>
              <h6><fa name="trash"></fa></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>