<app-menu></app-menu>
<br />
<h2 class="text-center">Instructions of all transaction wz DB</h2>
<h3 class="text-center">
  In case of adding any new record u have to commit wz the following instructions
</h3>
<br />
<ul class="list-items">
  <li class="item"><h4>All fields are mandatory don't forget any field in insert process.</h4></li>
  <li class="item"><h4>Any company news has images u have to add record in company news then add images in related company
    news.</h4></li>
  <li class="item"><h4>U can add more than one image for one company news.</h4></li>
  <li class="item"><h4>Before add any record u have to check if the record already exist or not.</h4></li>
  <li class="item"><h4>U can't edit any record but u can delete the record.</h4></li>
  <li class="item"><h4>All images prefered to be png or jpg files.</h4></li>
  <li class="item"><h4>Don't upload any word,excel or powerpoint files in HSE & Newsletters only PDFs files. </h4></li>
  <li class="item"><h4>Don't hesitate to ask about anything <b>'E7na msh tananiin.. :D'</b></h4></li>
</ul>